.textProcess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background: gainsboro;
}

.containerCarousel {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}