.toolbar {
    position: sticky;
    top: 0;
    background-color: #100e17;
    width: 100%;
    z-index: 250;
    opacity: 0.92;
    height: 70px;
}

.toolbar_logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: darkorange;
    margin-left: 1rem;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_navigation-items a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: darkorange;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 1rem 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_logo_mobile a {
    display: none;
    font-size: 1.5rem;
    text-decoration: none;
    color: darkorange;
    margin-left: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1000px) {
    .toolbar_logo_mobile a {
        display: block;
        flex-grow: 4;
    }
    .toolbar_navigation-items {
        display: none;
    }
    .toolbar_logo {
        display: none;
    }

    .phoneNumberMobile {
        margin-top: 5px;
        padding-left: 20%;
    }

    .toolbar-toggle-button {
        flex-grow: 1;
    }
}

@media (min-width: 1001px) {
    .toolbar-toggle-button {
        display: none;
    }
}

