ul {
    list-style-type: none;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
}

.team-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.team-member {
    padding-bottom: 10px;
}

@media (max-width: 800px) {
    .team {
        height: 800px;
    }
}

@media all and (max-width: 450px) {
    .team {
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
        flex-wrap: nowrap;
    }
    .team-member {
        padding-bottom: 10px;
    }
    .team-header {
        padding: 15px;
    }
}


