.links {
    color: rgba(0, 0, 0, 0.87);
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days {
    padding-left: 35px;
}

.contactTextPhoneNumber {
    padding-left: 10px;
    padding-top: 20px;
}

.contactTextFacebook {
    padding-left: 10px;
    padding-top: 20px;
}

.contactTextAddress {
    padding-left: 10px;
}

.contactRows {
    display: flex;
    flex-direction: row;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    background: gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media all and (max-width: 450px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: gainsboro;
    }

    .container-contact {
        padding-top: 50px;
        padding-left: 10px;
    }

    .contactTextAddress {
        font-size: large;
    }

    .contactTextFacebook {
        font-size: x-large;
    }
}
