#backgroundImg {
    height: 100vh;
    width: 100%;
}

.background-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    color: lightgray;
    z-index: 0;
}

.p {
    /* background-color: rgba(255, 140, 0, 0.5); */
    background-color: #100e17;
}

.mobile-background-text {
    display: none;
}

.desktop-background-text {
    font-size: 4.0vw;
    font-family: Serif;
}

.icons {
    padding-bottom: 50px;
}

@media (max-width: 1000px) {
    .desktop-background-text {
        display: none;
    }
    .mobile-background-text {
        display: block;
        font-size: 7vw;
        font-family: Serif;
    }
    .icons {
        padding-bottom: 20px;
    }
}

@media (max-height: 450px) {
    .mobile-background-text {
        font-size: 7vh;
    }
}