.div-footer {
    background: dimgray;
    height: 125px;
}

.footer {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}


.copy {
    font-size: x-large;
}




